.custom-b-contact {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 1) 0%,
        rgb(13, 1, 24) 20%,
        rgb(13, 1, 24) 40%,
        rgb(13, 1, 24) 60%, /* Color morado */
        rgb(13, 1, 24) 80%,
        rgba(0, 0, 0, 1) 100%
    );
    color: white; 
  }

.custom-input-form{
    background-color: rgba(255, 255, 255, 0.8) !important;
    font-size: 18px;
    border: 2px solid #800080;
}

.custom-label-form{
    font-size: 18px;
}

.custom-input-button {
    padding: 10px 26px; 
    border: 1px solid #fff; 
    border-radius: 10px;
    background-color: transparent; 
    color: #fff; 
    font-size: 18px;
}

.custom-input-button:hover {
    background-color: #800080; 
    border-color: #800080;
}



